<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>crud-express-mongo</title>
</head>
<body>
    <div>

        {{{body}}}

    </div>
</body>
<script src="/js/main.js"></script>
</html>